<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="polirats.ratstats">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".NovoJogador"
            android:configChanges="orientation|keyboardHidden"
            android:label="Registrar Jogador"
            android:screenOrientation="portrait" />
        <activity android:name=".ShowStats" />
        <activity
            android:name=".NovaPartida"
            android:configChanges="orientation|keyboardHidden"
            android:label="Começar Partida"
            android:screenOrientation="portrait" />
        <activity
            android:name=".NovaJogada"
            android:configChanges="orientation|keyboardHidden"
            android:label="Nova Jogada"
            android:screenOrientation="landscape" />
        <activity
            android:name=".NovaCorrida"
            android:configChanges="orientation|keyboardHidden"
            android:label="Nova Corrida"
            android:screenOrientation="landscape"/>
        <activity android:name=".NovoPasse" />
        <activity android:name=".NovoSack" />
        <activity android:name=".NovoBadSnap" />
        <activity android:name=".NovoST" />
        <activity android:name=".NovaFalta" />
        <activity
            android:name=".NovoDrive"
            android:configChanges="orientation|keyboardHidden"
            android:label="Novo Drive"
            android:screenOrientation="landscape"></activity>
    </application>

</manifest>